POSTGRES_HOST=localhost
POSTGRES_DB=sourcify
POSTGRES_USER=sourcify
POSTGRES_PASSWORD=sourcify
POSTGRES_PORT=5432
DOCKER_HOST_POSTGRES_PORT=5432
# If the sourcify instance requires authentication
BEARER_TOKEN=

# Variables for v0->v1 schema upgrade
POSTGRES_SCHEMA=public
BATCH_SIZE=1000

# Variables for Dune
DUNE_API_KEY=

##### DBMATE configuration for migrations
# Configure the database connection
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$DOCKER_HOST_POSTGRES_PORT/$POSTGRES_DB?sslmode=disable

# Keep this for updating the schema dump after adding a new migration
DBMATE_SCHEMA_FILE=./sourcify-database.sql


##### Massive replace script configuration
# Database configuration uses the POSTGRES_ variables above
# API configuration
API_BASE_URL=https://staging.sourcify.dev/server
API_AUTH_TOKEN=token_here
STORE_FAILED_CONTRACT_IDS=false